body {
  text-align: center;
  background-color: darkgrey;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.article_card {
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 25px;
  border: 2px solid black;
}

.article_img {
  width: 350px;
  height: auto;
  max-width: 100%;
}

.control_bar {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 5px;
}

.singl_article_img {
  width: 350px;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
}

.comment_list {
  border: 2px solid black;
  margin-bottom: 3px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0%;
}

p {
  padding: 5px;
  margin: 0;
}

.article_text {
  margin-left: 15%;
  margin-right: 15%;
}

.clicked_like_button {
  background-color: #4caf50;
  color: white;
  transform: scale(0.95);
  box-shadow: inset 0 3px 5px rbga(0, 0, 0, 0.3);
}
