body {
  background-color: #dee5e5;
  margin: 0;
  padding: 0;
  text-align: center;
}
.control_bar {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.form-select {
  cursor: pointer;
  max-width: fit-content;
  font-size: 150%;
}

@media (max-width: 1000px) {
  .form-select {
    font-size: 100%;
  }
}

@media (max-width: 500px) {
  .form-select {
    font-size: 50%;
  }
}

.page_button_container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.page_button {
  width: max-content;
  cursor: pointer;
  background-color: gray;
  border: 3px solid black;
}

.page_button_text {
  font-size: 100%;
}

.prev_button {
  transform: rotate(-90deg);
}

.comment_list {
  border: 2px solid black;
  margin-bottom: 3px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0%;
}

p {
  padding: 5px;
  margin: 0;
}

.article_votes_container {
  display: flex;
  margin-left: 30%;
  margin-right: 30%;
  gap: 5%;
}

.error_button {
  font-size: 2rem;
  border-radius: 50px;
}

.error_card {
  padding: 5px;
  margin-top: 20%;
  border-radius: 50px;
  border: 3px solid black;
}

.web_header {
  color: #ecf007;
  margin-top: 0;
  font-size: 400%;
  margin-bottom: 15px;
}

.header {
  margin: 0;
  background-color: #292a2d;
}

.links {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.nav_button_text {
  font-size: 100%;
}

.nav_button {
  width: max-content;
  padding: 0;
}

.article_list {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  margin-left: 1%;
  margin-right: 1%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1000px) {
  .article_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .article_list {
    grid-template-columns: 1fr;
  }
}

.article_card {
  padding: 0;
  max-width: 600px;
  max-height: 400px;
  margin: 0 auto;
  border: 1px solid black;
}

.articles_contents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.article_title {
  margin: 0;
  padding: 0;
  font-size: 150%;
}

.article_author {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.article_date {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.article_body {
  font-size: 80%;
}

.article_votes {
  margin: 0;
  padding: 0;
  font-size: 75%;
}

.article_comments {
  margin: 0;
  padding: 0;
  font-size: 75%;
}

.react_links {
  text-decoration: none;
}

.article_img {
  border-radius: 15%;
}

.article_img_container {
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  width: 55%;
}

.single_article_page {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
}

.single_article_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.single_article_img {
  max-width: 100%;
  width: fit-content;
  height: auto;
  border: 2px solid black;
  border-radius: 3%;
}

.back_button {
  margin-top: 10px;
}

.single_article_body {
  padding-top: 10px;
  margin-bottom: 0;
}

.single_article_votes {
  margin: 0;
}

.upvote_button {
  margin-left: 2px;
}

.clicked_upvote {
  margin-left: 2px;
  color: blue;
}

.downvote_button {
  transform: rotate(180deg);
  margin-right: 2px;
}

.clicked_downvote {
  transform: rotate(180deg);
  margin-right: 2px;
  color: red;
}

.vote_button_container {
  background-color: gray;
  padding: 10px;
  border: 1px solid black;
  border-radius: 25%;
  color: white;
}

.vote_button {
  all: unset;
}
